@model SysControlVivero.EntidadesDeNegocio.DetalleVenta

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DetalleVenta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDetalleVenta" class="control-label"></label>
                <input asp-for="IdDetalleVenta" class="form-control" />
                <span asp-validation-for="IdDetalleVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descuento" class="control-label"></label>
                <input asp-for="Descuento" class="form-control" />
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaDePago" class="control-label"></label>
                <input asp-for="FormaDePago" class="form-control" />
                <span asp-validation-for="FormaDePago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VentaNoSujeta" class="control-label"></label>
                <input asp-for="VentaNoSujeta" class="form-control" />
                <span asp-validation-for="VentaNoSujeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VentaExenta" class="control-label"></label>
                <input asp-for="VentaExenta" class="form-control" />
                <span asp-validation-for="VentaExenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Top_Aux" class="control-label"></label>
                <input asp-for="Top_Aux" class="form-control" />
                <span asp-validation-for="Top_Aux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
