<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/siteMenu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/SysControlVivero.UI.AppWebAspCore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        
        <nav class="navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">
                
                @if (User.Identity.IsAuthenticated)
                {
                    <section class="wrapper">

                        <section class="material-design-hamburger">
                            <button class="material-design-hamburger__icon">
                                <span class="material-design-hamburger__layer"></span>
                            </button>
                        </section>

                        <section class="menu menu--off">
                            <div> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></div>
                            <div> <a class="nav-link text-dark" asp-area="" asp-controller="Rol" asp-action="Index">Rol</a></div>
                            <div> <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuario</a></div>
                            <div> <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="CambiarPassword">Cambiar Password</a></div>
                            <div> <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Cliente</a></div>
                            <div> <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="CerrarSesion">Cerrar sesión</a></div>
                            
                        </section>

                    </section>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Sistema de Contol de Vivero
        </div>*@
   @* </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
