@model SysControlVivero.EntidadesDeNegocio.Factura

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Factura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFactura" class="control-label"></label>
                <input asp-for="IdFactura" class="form-control" />
                <span asp-validation-for="IdFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NFactura" class="control-label"></label>
                <input asp-for="NFactura" class="form-control" />
                <span asp-validation-for="NFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DUI" class="control-label"></label>
                <input asp-for="DUI" class="form-control" />
                <span asp-validation-for="DUI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sumas" class="control-label"></label>
                <input asp-for="Sumas" class="form-control" />
                <span asp-validation-for="Sumas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VentaTotal" class="control-label"></label>
                <input asp-for="VentaTotal" class="form-control" />
                <span asp-validation-for="VentaTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Top_Aux" class="control-label"></label>
                <input asp-for="Top_Aux" class="form-control" />
                <span asp-validation-for="Top_Aux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
